@model CadastroUsuarios.Models.UsuarioViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Subtitulo {
    Cadastro
}
@section Estilos {
    <link href="~/Content/Cadastro/cadastro.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Scripts/Cadastro/funcoes.js"></script>
}

<form>
    <div class="mb-3">
        @Html.LabelFor(x => x.Nome, new { @class = "form-label" }) <!-- Gera o rótulo (label) do campo 'Nome' baseado na ViewModel -->
        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", @required = true })
        <!--<label class="form-label" id="lblNome">Nome</label>   SUBSTITUÍDO PELO RAZOR -->
        <!--<input type="text" class="form-control" required>   SUBSTITUÍDO PELO RAZOR -->
    </div>
    <div class="mb-3">
        <label class="form-label">Sobrenome</label>
        <input type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Nome social</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Data de nascimento</label>
        <input type="date" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>